mixin btn({ text, isDisabled, color, className, isHide, href })
  if href
    a.btn(
      class=color
      class=className
      href=href
      hidden=isHide
      target="_blank"
    )=text
  else
    button.btn(
      class=color
      class=className
      type="button"
      hidden=isHide
      disabled=isDisabled
    )=text

