mixin b-result({ isDemo, isHide, className })
  .b-result.finish.js-result(hidden=isHide class=className)
    .b-result__title.js-result-title-text Твой дизайн
    .b-result__text.js-result-msg-text Отличный результат! #[br] Обязательно проверь, все ли правильно: после этого шага изменить дизайн будет нельзя. А&nbsp;если тебе нужно внести изменения, вернись на нужный шаг с помощью кнопки «НАЗАД».
    .b-result__field.js-result-field
      if isDemo
        .b-result__demo
          +picture({ image: "/img/stick.png", width: 1520, height: 375 })
      else
        .b-result__result
          //- stick color
          each color, i in ["red", "white", "black", "carbon"]
            img.b-result__stick.js-result-stick(
              class=color
              src=`./img/sticks/stick-empty-${color}.webp`
              hidden=(i !== 0)
            )
          //- stick pattern
          each color in ["red", "white", "black", "chrome", "reflective"]
            each type, j in [1, 2, 3, 4, 5, 6]
              img.b-result__pattern.js-result-pattern(
                class=`${color}-${j + 1}`
                src=`./img/sticks/pattern-${color}-${type}.webp`
                hidden
              )
          //- stick blade
          each color, i in ["red", "white", "black", "carbon"]
            each texture, j in ["normal", "glossy", "matte", "glitter"]
              img.b-result__blade.js-result-blade(
                class=`${color}-${texture}`
                src=`./img/sticks/blade-${color}-${texture}.webp`
                hidden=(i !== 0 && j !== 0)
              )

        .b-result__name.js-result-name-text
