mixin window-third({ isHide, className })
  .b-window.third.js-widow(hidden=isHide class=className)
    .b-window__field
      //- img.b-window__img.js-widow-img(src="./img/sticks/blade-red-normal.webp")

      each color, i in ["red", "white", "black", "carbon"]
        each texture, j in ["normal", "glossy", "matte", "glitter"]
          img.b-window__img.js-widow-blade(
            class=`${color}-${texture}`
            src=`./img/sticks/blade-${color}-${texture}.webp`
            hidden=(i !== 0 && j !== 0)
          )
    .b-window__blade.js-widow-color-list
      button.b-window__color-btn.black(data-color="2")
      button.b-window__color-btn.white(data-color="1")
      button.b-window__color-btn.red(data-color="0")
      button.b-window__color-btn.carbon(data-color="3")
    .b-window__control
      .b-window__pag
        .b-window__pag-list.js-widow-pag-list
          button.b-window__pag-btn.actv(data-texture="0")
          button.b-window__pag-btn(data-texture="1")
          button.b-window__pag-btn(data-texture="2")
          button.b-window__pag-btn(data-texture="3")
        .b-window__pag-name.js-widow-pag-text Покрытие крюка 1/4

    button.b-window__nav.prev.js-widow-btn(disabled)
      +svg({ name: 'nav-arrow-prev', width: 65, height: 88 })
    button.b-window__nav.next.js-widow-btn
      +svg({ name: 'nav-arrow-next', width: 65, height: 88 })
