mixin window-fourth({ isHide, className })
  .b-window.fourth.js-widow(hidden=isHide class=className)
    .b-window__field
      .b-window__name.js-window-name-label Alex Ovechkin
      //- img.b-window__img.name.js-widow-name-stick(src="./img/sticks/end-red.webp")
      each color, i in ["red", "white", "black", "carbon"]
        img.b-window__img.name.js-widow-name-stick(
          class=color
          src=`./img/sticks/end-${color}.webp`
          hidden=(i !== 0)
        )
